* {
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: "Montserrat", serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
}

.cube-image {
  width: 300px;
  border-radius: 15px;
}

.section,
.name,
.info {
  padding: 10px 0;
}

.name,
.creator-name {
  color: hsl(0, 0%, 100%);
}

.info {
  color: hsl(215, 51%, 70%);
}

.additional-details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.value {
  color: hsl(178, 100%, 50%);
  display: flex;
}
.value-icon,
.days-left-icon {
  padding-right: 5px;
}

.days-left {
  color: hsl(215, 51%, 70%);
  display: flex;
}

.line {
  border-color: hsl(215, 32%, 27%);
  margin: 15px 0;
}

.creator-info {
  display: flex;
  align-items: center;
}

.creator-image {
  width: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.creation {
  color: hsl(215, 51%, 70%);
  padding: 0 10px;
}
